body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
#main {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.menu {
  text-decoration: underline;
  font-size: 17px;
}
.button {
  color: white;
}
#process p {
  font-size: 14px;
}
.oneliner {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white
}
.footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
}
